body{
    background: #090909;
    color: #f8f0e3;
    min-height: 100%;
    overflow-y: auto;
    font-family: "Space Mono", monospace;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    margin: 0;
}
p {
	font-size: 100%;
    word-break: keep-all;
    color: whitesmoke;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke: 10% black;
}

h2
{
    font-size: 45px;
    font-style: normal;
    word-break: keep-all;
    color: white;
    position: absolute;
    z-index: 4;
    padding: 5px;
    border-radius: 20px;
    background:radial-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.261));
}
h1
{
    font-size: 350%;
    font-style: normal;
    text-align: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}
h3
{
    margin-top:-35px;
    font-size: 200%;
    font-style: normal;
    word-break: keep-all;
    color: rgba(185, 65, 255, 0.934);
    text-align: center;
    position: relative;
    z-index: 2;
}
a.hyperlink {
    display: inline-block;
    transition: .1s cubic-bezier(0.77, 2.2, 0.71, 0.5);
    text-decoration:none;
    aspect-ratio: 1;
}
a.hyperlink:hover {
    transform: scale(1.3) rotate(-2deg);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    backdrop-filter: blur(1px);
}

.hyperimage{
    opacity: 1.0;
}
.hyperimage:hover{
    opacity: 0.6;
    transform: scale(1.3) rotate(-4deg);
}

.hyperimage img {
    transition: transform .1s cubic-bezier(0.77, 2.2, 0.71, 0.5);
}

.item
{
    margin: 2%;
    text-align: center;
    border-radius: 5px;
    outline-width: 4px;
    max-width: 700px;
	width: 100%;
	height: 300px;
    outline-style:ridge;
    outline-color: white;
    padding: 0px;
    transition: .12s cubic-bezier(0.77, 2.2, 0.71, 0.5);
    place-items:center;
}
.item:hover
{
    transform: scale(1.05) rotate(-1deg);
}
.video-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: fill;
  scale: 1;
  margin: auto;
  z-index: 2;
}
.container
{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	gap: 2px;
	inset: 10px;
}

/* FONTS */
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}
